.full-width-table {
  width: 100%;
}
.element-row:nth-child(even) {
  background: rgba(83, 42, 124, 0.048);
}
.element-row:hover {
  background: #7efafa;
}
.header-row {
  background: #97e5f8;
}
.select-row {
  background: hsl(332, 93%, 74%);
}
.column-id {
  flex: 0 0 80px;
}
.mat-cell,
.mat-header-cell {
  align-items: center;
  justify-content: space-between;
}
// .add-icon {
//   position: fixed;
//   cursor: pointer;
//   right: 50%;
//   bottom: 14px;
//   z-index: 99;
//   opacity: 0.7;
// }
// .add-icon:hover {
//   opacity: 1;
// }
.del-icon {
  // margin-left: auto;
  // color: rgba(108, 227, 133, 0.8);
  color: #199ed2;
  border: none;
  background-color: transparent;
}
.spinner-container {
  display: flex;
  justify-content: center;
}
