<div class="mat-elevation-z2">
  <mat-table
    class="full-width-table"
    matSort
    matSortDisableClear
    aria-label="Elements"
  >
    <!-- Column td -->
    @for (c of columDef; track c; let i = $index) {
      <ng-container [matColumnDef]="c.def">
        @switch (c.def) {
          @case ("id") {
            <mat-header-cell *matHeaderCellDef>{{ c.name }}</mat-header-cell>
            <mat-cell *matCellDef="let row; index as i">
              {{ paginator.pageSize * paginator.pageIndex + i + 1 }}
            </mat-cell>
          }
          @case ("delete") {
            <mat-header-cell *matHeaderCellDef>{{ c.name }}</mat-header-cell>
            <mat-cell *matCellDef="let row"
              >{{ row[c.def] }}
              <button
                class="m3-button"
                type="button"
                mat-icon-button
                (click)="clickDel(row.id)"
              >
                <mat-icon aria-label="Task delete icon">delete</mat-icon>
              </button>
            </mat-cell>
          }
          @default {
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ c.name }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row" (click)="clickSelect(row.id)">
              {{ row[c.def] }}
            </mat-cell>
          }
        }
      </ng-container>
    }
    <!-- Column tr -->
    <mat-header-row
      class="header-row"
      *matHeaderRowDef="displayedColumns; sticky: true"
    ></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      [class.element-row]="row.id !== dataSource.status.SelectedRow"
      [class.select-row]="row.id === dataSource.status.SelectedRow"
    ></mat-row>
  </mat-table>
  <mat-paginator
    #paginator
    [length]="dataSource.data.length"
    [pageIndex]="dataSource.status.PageIndex"
    [pageSize]="dataSource.status.PageSize"
    [pageSizeOptions]="dataSource.status.PageSizeOptions"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
