example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
// .example-toolbar {
//   position: fixed;
//   z-index: 2;
// }

.example-sidenav-container {
  /* When the sidenav is fixed, 高さを制限しないでください。これレスポンシブ対応 */
  flex: 1 0 auto;
}

.sidenav {
  width: 100px;
  padding: 0 8px;
  box-sizing: border-box;
}

.mat-sidenav-content {
  padding-right: 16px;
}

.sidenav-scroll-wrapper {
  // height: calc(100dvh - 64px - 16px);
  overflow: auto;
  border-radius: 16px;
  box-sizing: border-box;
}

.sidenav-content {
  // max-height: 100%;
  // overflow-y: auto;
  padding: 16px;
  box-sizing: border-box;
  position: absolute;
  top: 6%;
  left: 1%;
  right: 0;
  @media (pointer: fine) {
    &::-webkit-scrollbar {
      background-color: transparent;
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
    }
  }
}

@media (max-width: 959.98px) {
  mat-sidenav-content {
    padding-right: 8px;
    padding-left: 8px;
  }
  .sidenav-content {
    // overflow-y: visible;
    padding: 8px;
  }
}
// .mat-sidenav-container .mat-sidenav-content {
//   overflow: initial;
// }
