<div class="navi-container">
  <mat-toolbar class="navi-toolbar">
    <button
      class="menu-icon"
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
    >
      <mat-icon aria-label="Side nav toggle icon" fontIcon="menu"></mat-icon>
    </button>
    <span>app-18</span>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav
      #drawer
      class="navi-sidebox"
      position="end"
      autoFocus="false"
      fixedTopGap="150"
      fixedBottomGap="180"
      fixedInViewport
      [mode]="'over'"
      [opened]="false"
      [attr.role]="'dialog'"
      (mouseleave)="drawer.toggle()"
    >
      <!-- <mat-toolbar>Menu</mat-toolbar> -->
      <mat-nav-list>
        <mat-list-item>
          <a [routerLink]="['/']"><mat-icon>house</mat-icon></a>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button><mat-icon>search</mat-icon></button>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button><mat-icon>arrow_right</mat-icon></button>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button><mat-icon>arrow_left</mat-icon></button>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button><mat-icon>filter_list</mat-icon></button>
        </mat-list-item>
        <mat-list-item>
          <button mat-icon-button (click)="toggleDetaile()">
            <mat-icon>toggle_on</mat-icon>
          </button>
        </mat-list-item>
        <!-- <a mat-list-item [routerLink]="['/']"><mat-icon>house</mat-icon></a> -->
        <!-- <a mat-list-item [routerLink]="['/second']">second</a> -->
      </mat-nav-list>
    </mat-sidenav>
    <!-- Add Content Here ※mmat-sidenav-content内はスクロールが復元しない。-->
    <!-- <mat-sidenav-content> </mat-sidenav-content> -->
    <!-- <app-list /> -->
    <!-- <router-outlet /> -->
  </mat-sidenav-container>
  <!-- Directive Here スクロールとサイズ変更を検知。-->
  <div
    class="navi-routebox"
    libViewScroll
    #scroll="libScroll"
    [(showIcon)]="scrollSignal"
  >
    <router-outlet />
  </div>
  <div class="navi-scrollicon">
    <!-- Directive Here scrollアイコンを表示・非表示するかどうか。-->
    @if (scrollSignal()) {
      <button mat-mini-fab (click)="scroll.top()">
        <mat-icon>arrow_upward</mat-icon>
      </button>
    }
  </div>
</div>
