<form [formGroup]="editForm" novalidate>
  <div class="details-container">
    <mat-form-field appearance="fill">
      <mat-label>title</mat-label>
      <input matInput type="text" formControlName="title" placeholder="Title" />
    </mat-form-field>
    @if (status.ToggleDetail) {
      <mat-form-field>
        <mat-label>category</mat-label>
        <input matInput type="text" formControlName="category" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>status</mat-label>
        <input matInput type="text" formControlName="status" />
      </mat-form-field>
    }
    <mat-form-field appearance="fill">
      <mat-label>content</mat-label>

      <textarea
        matInput
        libCursorPosition
        formControlName="content"
        placeholder="Content"
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="256"
      >
      </textarea>
      @if (editForm.controls.content.value) {
        <button
          matSuffix
          mat-icon-button
          aria-label="Clear"
          (click)="clickContentClear()"
        >
          <mat-icon>close</mat-icon>
        </button>
      }
    </mat-form-field>
  </div>
  <button
    mat-mini-fab
    color="accent"
    class="save-container"
    type="submit"
    [disabled]="editForm.invalid"
    (click)="save()"
  >
    <mat-icon>save</mat-icon>
  </button>
  <button
    mat-mini-fab
    color="primary"
    class="back-container"
    type="reset"
    (click)="goBack()"
  >
    <mat-icon>keyboard_return</mat-icon>
  </button>
</form>
