<form [formGroup]="editForm" novalidate (ngSubmit)="onSubmit()">
  <div class="details-container">
    <mat-form-field appearance="outline">
      <mat-label>title</mat-label>
      <input matInput type="text" formControlName="title" placeholder="Title" />
    </mat-form-field>
    <ng-container>
      <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="category"
          placeholder="Category"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="text"
          formControlName="status"
          placeholder="Status"
        />
      </mat-form-field>
    </ng-container>
    <mat-form-field appearance="outline">
      <mat-label>content</mat-label>

      <textarea
        matInput
        formControlName="content"
        placeholder="Content"
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="25"
      >
      </textarea>
    </mat-form-field>
  </div>
  <button
    mat-mini-fab
    color="accent"
    class="save-container"
    type="submit"
    [disabled]="editForm.invalid"
  >
    <mat-icon>save</mat-icon>
  </button>
  <button
    mat-mini-fab
    color="primary"
    class="back-container"
    type="reset"
    (click)="goBack()"
  >
    <mat-icon>keyboard_return</mat-icon>
  </button>
</form>
